.so-widget-sow-headline-sow-headline-0d076346e422 #sow-headline-container.sow-headline h1 {
  text-align: center;
  color: #000000;
  line-height: 1.3;
  word-break: break-all;
}
.so-widget-sow-headline-sow-headline-0d076346e422 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.3;
  word-break: break-all;
}
.so-widget-sow-headline-sow-headline-0d076346e422 #sow-headline-container.sow-headline .decoration {
  border-top: medium solid #404040;
  position: relative;
  height: 1px;
  margin: 20px 60px 20px 60px;
}
